.vagrant.d
.vscode

# ignore vagrant folder's contents
vagrant/*
# except these files
!vagrant/Vagrantfile

# ignore vagrant folder's contents
vagrant-wsl/*
# except these files
!vagrant-wsl/Vagrantfile
!vagrant-wsl/set_variables.sh

# ignore testing folder's contents
testing/*
# except this demo
!testing/example/demo.st
# except this folder
!testing/modbus-testing

# ignore modbus-testing folder's content
testing/modbus-testing/*
# except these files
!testing/modbus-testing/updating_server.py